<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae adipisci tempora commodi, et ipsum soluta blanditiis officia quisquam doloremque ea, labore vel libero repudiandae iste suscipit unde aut quo, ab nisi animi optio alias id quam. Nesciunt atque nostrum soluta?</p>
        
    </div>
</div>