
<div class="row">
    <div class="col-12">
        <div class="jumbotron mt-4">
            <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <hr class="my-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat aspernatur unde, minima minus earum accusantium dignissimos eius maiores nihil in quaerat vero ab quia natus ut dolores quam! Perferendis, natus?</p>
            <a href="https://www.skysofdigital.com" class="btn btn-primary btn-lg">SkySof</a>
        </div>
    </div>
</div>
