<!-- Footer -->
<footer class="page-footer font-small bg-transparent text-white">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://skysofdigital.com/osmaro" class="text-white">Osmaro Alfonso Bonilla Mestizo</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->